
.container_960{
	width: 960px;
	margin: 0px auto;
}
.product_one_css{
 margin-top: 60px;
}
.product_one_css img{
 width: 100%;
 height: auto;
 vertical-align: middle;
}
.product_two_css{
	margin-bottom: 120px;
}
.product_two_css_menu{
	background-color: #FFFFFF;
	border-radius: 6px 6px 0px 0px;
	margin-top: -162px;
	position: relative;
	margin-bottom: 50px;
	height: 280px;
}
.product_two_css_menu .product_tab{
	padding:16px 50px 20px 50px;
	cursor: pointer;
}
.product_two_css_menu .product_tab img{
	width: 100%;
	height: auto;
}
.product_two_css_menu .product_tab p{
	font-size: 18px;
	color: #2C2E2F;
	letter-spacing: 0;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 0px;
}
.product_two_css_menu .product_tab p.active{
	background-color: transparent;
}
.product_two_css_menu .product_tab p.active:after{
	width: 90px;
	height: 2px;
	background-color: #FF4081;
	position: absolute;
    display: block;
    bottom: 10px;
    left: 35%;
    display: block;
    content: '';
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.tab1_css, .tab2_css, .tab3_css{
	margin-top: 145px;
}
.tab1_css .tab1_css_ryt{
	padding-left: 45px;
}
.tab1_css .tab1_css_lft img {
	margin-top: 138px;
	max-width: 100%;
}
.tab2_css_row3 .tab_css_lft img.m-t-0, .tab2_css_row2 .tab_css_ryt img.m-t-0{
	margin-top: 0px;
	max-width: 100%;
}
.tab_css_ryt img, .tab_css_lft img, .tab1_css_lft img{max-width: 100%;}
.tab2_css_row2 .tab_css_ryt img.m-t-30, .tab2_css_row3 .tab_css_lft img.m-t-30, .tab2_css_row2 .tab_css_ryt img.m-t-30{
	margin-top: 30px;
}
.tab1_css .tab1_css_ryt h1, .tab2_css_row2 .tab_css_lft h1, .tab2_css_row3 .tab_css_ryt h1, .tab4_css .tab1_css_ryt h1{
	font-size: 40px;
	color: #2C2E2F;
	letter-spacing: 0;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 50px;
}
.tab2_css_row2 .tab_css_lft p, .tab2_css_row3 .tab_css_ryt p, .tab2_css .pdoducts_top_css_row p{
	font-size: 20px;
	color: #5F6469;
	letter-spacing: 0;
	text-align: justify;
	line-height: 26px;
	margin-bottom:30px;
}
.tab1_css .tab1_css_ryt ul, .tab2_css_row2 .tab_css_lft ul, .tab2_css_row3 .tab_css_ryt ul, .tab4_css .tab1_css_ryt ul{
	padding-left: 20px;
}
.tab1_css .tab1_css_ryt ul li, .tab2_css_row2 .tab_css_lft ul li, .tab2_css_row3 .tab_css_ryt ul li, .tab4_css .tab1_css_ryt ul li{
	font-size: 20px;
	color: #2C2E2F;
	letter-spacing: 0;
	text-align: justify;
	line-height: 30px;
	list-style-type: disc;
	margin: 15px 0px;
}
.tab4_css .tab1_css_ryt ul li{
	list-style-type: none;
}
.tab2_css_row1 h1{
	font-size: 40px;
	color: #2C2E2F;
	letter-spacing: 0;
	text-align: center;
	margin: 40px 0px 24px;
}
.tab2_css_row1 p{
	font-size: 20px;
	color: #2C2E2F;
	letter-spacing: 0;
	text-align: center;
	line-height: 26px;
}
.tab_css_ryt .img_p, .tab_css_lft .img_p{
	font-size: 20px;
	color: #5F6469;
	letter-spacing: 0;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 24px;
}
.tab3_css .tab2_css_row1 .row_img.no-bg {
    background-image: none;
}
.tab3_css .tab2_css_row1 .row_img div {
    width: 120px;
    margin: 10px auto;
}
.tab_icons_row .row_img p{
	font-size: 20px;
	color: #2C2E2F;
	letter-spacing: 0;
	text-align: center;
}
.tab2_css_row1 .btn-sol_cnt{
width: 18.75rem;
background: transparent;
border-radius: 6.25rem;
font-size: 1.125rem;
color: #FF4081;
padding: 1.010rem 0rem;
margin-top: 3rem;
border:2px solid #FF4081;
font-weight: 200;
transition: all .25s ease-in;
}
.tab2_css_row1 .btn-sol_cnt:focus,
.tab2_css_row1 .btn-sol_cnt:hover,
.tab2_css_row1 .btn-sol_cnt:active,
.tab2_css_row1 .btn-sol_cnt:focus-within{
background-position: 0 0;
outline: none;
}
.tab1_css .tab1_css_ryt h1:after, .tab1_css .tab1_css_ryt h1:after, .tab2_css_row2 .tab_css_lft h1:after, .tab2_css_row3 .tab_css_ryt h1:after, .tab4_css .tab1_css_ryt h1:after{
	width: 70px;
    height: 2px;
    background-color: #2096F3;
    position: relative;
    display: block;
    top: 10px;
    left: 0%;
    content: '';
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.tab1_css .pdoducts_top_h1, .tab2_css .pdoducts_top_css_row .pdoducts_top_h1{
font-size: 34px;
color: #2C2E2F;
letter-spacing: 0;
text-align: center;
margin-bottom: 62px;
margin-top: 102px;
}
.tab2_css .pdoducts_top_css_row p{
	color: #2C2E2F;
}
.currency_div div img{float: left;max-width: 100%;}
.currency_div div img.cny{
    width: 7.5rem;
    height: auto;
    z-index: 99;
    margin-top: 1.375rem;
    margin-right: -2.5rem;
}
.currency_div div img.dol{
    width: 8.75rem;
    height: auto;
    z-index: 999;
    margin-right: -2.1875rem;
    margin-top: 0.625rem;
}
.currency_div div img.eur{
    width: 10rem;
    height: auto;
    z-index: 999999;
    position: relative;
}
.currency_div div img.jpy{
    width: 8.75rem;
    height: auto;
    z-index: 999;
    margin-left: -2.1875rem;
    margin-top: 0.625rem;
    position: relative;
}
.currency_div div img.hkd{
    width: 7.5rem;
    height: auto;
    z-index: 99;
    margin-top: 1.375rem;
    margin-left: -2.5rem;
}
.top_div_prdct_pos{
	width: 500px;
	height: auto;
	position: absolute;
	top: 120px;
    left: 22.5%;
}
.top_div_prdct_pos h1{
font-size: 36px;
color: #FFFFFF;
text-align: left;
line-height: 40px;
}
.top_div_prdct_pos p{
font-size: 18px;
color: #FFFFFF;
text-align: left;
margin-top: 10px;
}
.tab_ds_none{
	display: none;
	-webkit-animation: slide-right .3s ease-out;
    -moz-animation: slide-right .3s ease-out;
    -o-animation: slide-right .3s ease-out;
    -ms-animation: slide-right .3s ease-out;
    animation: slide-right .3s ease-out;
}
.tab_ds_block{
	display: block;
	-webkit-animation: slide-right .3s ease-out;
    -moz-animation: slide-right .3s ease-out;
    -o-animation: slide-right .3s ease-out;
    -ms-animation: slide-right .3s ease-out;
    animation: slide-right .3s ease-out;
}
@-webkit-keyframes slide-right {
      0% { opacity: 0; -webkit-transform: translateX(100%); }   
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-right {
      0% { opacity: 0; -moz-transform: translateX(100%); }   
    100% { opacity: 1; -moz-transform: translateX(0); }
}
@-o-keyframes slide-right {
      0% { opacity: 0; -webkit-transform: translateX(100%); }   
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
